# Enable URL rewriting
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirect sitemap.xml to sitemap.php
RewriteRule ^sitemap\.xml$ sitemap.php [L]